<div class="all-members-modal">
	<% allGroupWithMembers.forEach(function(group, index){ %>
	<div class="modal fade" id="membersModal_<%= group._id %>" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Danh sách các thành viên trong nhóm.</h4>
				</div>
				<div class="modal-body">
					<ul class="list-members">
						<% group.members.forEach(function(member, index) { %>
							<li class="_membersList" data-uid="<%= member._id %>">
								<div class="user-avatar">
									<img src="./libraries/images/users/<%= member.avatar %>" alt="Thumb Group">
								</div>
								<% if(member._id.toString() === user._id.toString() && member._id.toString() === group.userId.toString()) { %>
									<div class="user-name user-admin">
										<%= member.username %>
										<div>(Bạn là Admin)</div>
									</div>
								<% } else if(member._id.toString() === user._id.toString() && member._id.toString() !== group.userId.toString()) { %>
									<div class="user-name">
										<%= member.username %>
										<div>(Bạn)</div>
									</div>
								<% } else if(member._id.toString() === group.userId.toString()) { %>
									<% if(member.status){ %>
										<div class="user-name user-admin">
											<%= member.username %>
											<div>(Admin)</div>
										</div>
										<br>
										<div class="user-talk" data-uid="<%= member._id %>">
											Trò chuyện
										</div>
									<% } else{ %>
										<div class="user-name user-admin">
											<%= member.username %>
											<div>(Admin)</div>
											<div>(Chưa kết bạn)</div>
										</div>
									<% } %>
								<% } else{ %>
									<% if(member.status){ %>
										<div class="user-name">
											<%= member.username %>
										</div>
										<br>
										<div class="user-talk" data-uid="<%= member._id %>">
											Trò chuyện
										</div>
									<% } else{ %>
										<div class="user-name" style="color:#b3b0b0">
											<%= member.username %>
											<div>(Chưa kết bạn)</div>
										</div>
									<% } %>
								<% } %>
							</li>
						<% }); %>					
					</ul>
				</div>
			</div>
		</div>
	</div>
	<% }); %>
</div>
