<div class="col-sm-3 sidenav no-padding">
    <div class="left">
        <div class="top form-group">
            <select class="form-control" id="select-type-chat">
                <option data-target="#all-chat" value="all-chat">Toàn bộ trò chuyện</option>
                <option data-target="#user-chat" value="user-chat">Trò chuyện cá nhân</option>
                <option data-target="#group-chat" value="group-chat">Trò chuyện nhóm</option>
            </select>
            <a href="#groupChatModal" class="create-group-chat" data-toggle="modal" 
                title="Tạo một nhóm trò chuyện mới"></a>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="all-chat">
				<ul class="people no-padding-start">
					<% allConversationWithMess.forEach(function(conversation){ %>
						<% let lastMessage = getLastIndex(conversation.messages) %>
						<% if(conversation.members){ %>
							<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
								<li class="person group-chat" data-chat="<%= conversation._id %>">
									<div class="left-avatar">
										<!-- <div class="dot"></div> -->
										<img src="./libraries/images/users/group-avatar-trungquandev.png" alt="Thumb - Group">
									</div>
									<span class="name">
										<span class="group-chat-name">
											<% if(conversation.name.length > 15){ %>
												<%= conversation.name.substr(0, 15) + '...' %>
											<% } else{ %>
												<%= conversation.name %>
											<% } %>
										</span> 
									</span>
									<span class="time">
										<%= convertTimstampToHumanTime(lastMessage.createdAt) %>
									</span>
									<span class="preview convert-emoji">
										<% if(lastMessage.messageType === 'text'){ %>
											<%= lastMessage.text %>
										<% } %>
										<% if(lastMessage.messageType === 'image'){ %>
											<i class="fa fa-file-image-o"></i> Hình ảnh
										<% } %>
										<% if(lastMessage.messageType === 'file'){ %>
											<i class="fa fa-file-text"></i> File đính kèm
										<% } %>
									</span>
								</li>
							</a>
						<% } else{ %>
							<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
								<li class="person" data-chat="<%= conversation._id %>">
									<div class="left-avatar">
										<div class="dot"></div>
										<img src="./libraries/images/users/<%= conversation.avatar %>" alt="Thumb - Contact">
									</div>
									<span class="name">
										<% if(conversation.username.length > 15){ %>
											<%= conversation.username.substr(0, 15) + '...' %>
										<% } else{ %>
											<%= conversation.username %>
										<% } %>
									</span>
									<span class="time">
										<%= convertTimstampToHumanTime(lastMessage.createdAt) %>
									</span>
									<span class="preview convert-emoji">
										<% if(lastMessage.messageType === 'text'){ %>
											<%= lastMessage.text %>
										<% } %>
										<% if(lastMessage.messageType === 'image'){ %>
											<i class="fa fa-file-image-o"></i> Hình ảnh
										<% } %>
										<% if(lastMessage.messageType === 'file'){ %>
											<i class="fa fa-file-text"></i> File đính kèm
										<% } %>
									</span>
								</li>
							</a>
						<% } %>
					<% }) %>
				</ul>
				<% if(allConversationWithMess.length > 10) { %>
				<div class="read-more-all-chat">
					<a href="javascript:void(0)" id="read-more-all-chat">
						<strong>Xem thêm...</strong>
					</a>
					<div class="read-more-all-chat-loader">
						<div class="sk-wave">
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="tab-pane" id="user-chat">
				<ul class="people no-padding-start">
					<% allConversationWithMess.forEach(function(conversation){ %>
						<% if(!conversation.members){ %>
						<% let lastMessage = getLastIndex(conversation.messages) %>
						<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
							<li class="person" data-chat="<%= conversation._id %>">
								<div class="left-avatar">
									<div class="dot"></div>
									<img src="./libraries/images/users/<%= conversation.avatar %>" alt="Thumb - Contact">
								</div>
								<span class="name">
									<% if(conversation.username.length > 15){ %>
										<%= conversation.username.substr(0, 15) + '...' %>
									<% } else{ %>
										<%= conversation.username %>
									<% } %>
								</span>
								<span class="time">
									<%= convertTimstampToHumanTime(lastMessage.createdAt) %>
								</span>
								<span class="preview convert-emoji">
									<% if(lastMessage.messageType === 'text'){ %>
										<%= lastMessage.text %>
									<% } %>
									<% if(lastMessage.messageType === 'image'){ %>
										<i class="fa fa-file-image-o"></i> Hình ảnh
									<% } %>
									<% if(lastMessage.messageType === 'file'){ %>
										<i class="fa fa-file-text"></i> File đính kèm
									<% } %>
								</span>
							</li>
						</a>
						<% } %>
					<% }) %>
				</ul>
				<% if(allConversationWithMess.length > 10) { %>
				<div class="read-more-user-chat">
					<a href="javascript:void(0)" id="read-more-user-chat">
						<strong>Xem thêm...</strong>
					</a>
					<div class="read-more-user-chat-loader">
						<div class="sk-wave">
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
			<div class="tab-pane" id="group-chat">
				<ul class="people no-padding-start">
					<% allConversationWithMess.forEach(function(conversation){ %>
						<% if(conversation.members){ %>
						<% let lastMessage = getLastIndex(conversation.messages) %>
						<a href="#uid_<%= conversation._id %>" class="room-chat" data-target="#to_<%= conversation._id %>">
							<li class="person group-chat" data-chat="<%= conversation._id %>">
								<div class="left-avatar">
									<!-- <div class="dot"></div> -->
									<img src="./libraries/images/users/group-avatar-trungquandev.png" alt="Thumb - Group">
								</div>
								<span class="name">
									<span class="group-chat-name">
										<% if(conversation.name.length > 15){ %>
											<%= conversation.name.substr(0, 15) + '...' %>
										<% } else{ %>
											<%= conversation.name %>
										<% } %>
									</span> 
								</span>
								<span class="time">
									<%= convertTimstampToHumanTime(lastMessage.createdAt) %>
								</span>
								<span class="preview convert-emoji">
									<% if(lastMessage.messageType === 'text'){ %>
										<%= lastMessage.text %>
									<% } %>
									<% if(lastMessage.messageType === 'image'){ %>
										<i class="fa fa-file-image-o"></i> Hình ảnh
									<% } %>
									<% if(lastMessage.messageType === 'file'){ %>
										<i class="fa fa-file-text"></i> File đính kèm
									<% } %>
								</span>
							</li>
						</a>
						<% } %>
					<% }) %>
				</ul>
				<% if(allConversationWithMess.length > 10) { %>
				<div class="read-more-group-chat">
					<a href="javascript:void(0)" id="read-more-group-chat">
						<strong>Xem thêm...</strong>
					</a>
					<div class="read-more-group-chat-loader">
						<div class="sk-wave">
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
							<div class="sk-wave-rect"></div>
						</div>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>
</div>
